@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  background-image: url('./assets/bg.png');
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 27px;
}


.main_title {
  margin-top: 87px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 55px;
}

.main_form {
  background-color: #171929;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 390px;
  border-radius: 27px;
  padding: 40px 45px;
  margin-bottom: 87px;
}

.main_form_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.main_form_header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: center;
}

.main_form_header span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #797EA3;
  text-align: center;
}

.main_form_inp_block {
  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  flex-direction: column-reverse;
}

.main_form_label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #797EA3;
}

.main_form_inp {
  background-color: transparent;
  border-bottom: 1px solid #3F4363;
  padding: 8px 0px;
  margin-bottom: 38px;
  color: white;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.main_form_inp:focus+.main_form_label {
  color: white;
}

.btn_container {
  display: flex;
  justify-content: center;
}


.btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #2C2F47;
  border-radius: 50px;
  color: white;
  width: max-content;
  border: none;
  padding: 10px 20px;
}


.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  height: 23px;
}

.custom-checkbox-input {
  display: none;
}

.custom-checkbox-label {
  position: relative;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #797EA3;
  cursor: pointer;
}

.custom-checkbox-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 20px;
  height: 20px;
  border: 2px solid #3F4363;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.custom-checkbox-input:checked+.custom-checkbox-label:before {
  background-color: #3F4363;
  border-color: #3F4363;
}

.custom-checkbox-label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 7px;
  height: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox-input:checked+.custom-checkbox-label:after {
  opacity: 1;
}

.custom-checkbox a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-decoration: underline;
  color: #B9BEE5;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}


.error_message {
  font-family: "Roboto", sans-serif;
  color: red;
  font-size: 0.8em;
}

.notification {
  background-color: lightgreen;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}